.content-recettes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre-recettes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #007bff66;
    color: #fff;
    font-size: 33px;
    padding: 12px 24px;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    z-index: 1;
    width: 185px;
    transition: 1s;
}

.img-titre {
    position: relative;
    margin-top: 18px;
}

.img-top {
    border-radius: 15px;
    height: 423px;
    width: 716px;
}

.img-titre::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 15px;
  }

.titre-sections-list {
    text-align: center;
    padding-bottom: 12px;
    font-size: 30px;
    font-family: cursive;
}

.list-recettes {
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recettes-box {
    padding-top: 32px;
}

.title-txt {
    color: black;
    font-family: cursive;
}

.footer-icon {
    display: flex;
    border-bottom: 1px solid darkolivegreen;
    justify-content: center;
    padding-top: 26px;
}

.box-icon {
    position: absolute;
    background-color: #f1f1f1;
    padding-left: 24px;
    padding-right: 24px;
}


.icon-titre {
    display: block;
    margin-top: -15px;
    color: darkolivegreen;
    font-size: 23px;
}

.img-entree {
    width: 170px;
    min-height: 221.41px;
    padding: 2px;
    margin-left: 10px;
    border-radius: 15px;
    border: solid 2px #6ea36e;
    transition: 0.5s all ease-in-out;
    object-fit: cover;
}

.img-entree:hover {
    border:solid 2px #4a634a;
    padding: 5px;
}