.box-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffe6e6;
    margin-top: 10px;
}

.contents {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.surConso {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    padding-left: 55px;
    padding-bottom: 16px;
}

.titre-conso {
    padding-top: 20px;
    padding-bottom: 4px;
    font-family: cursive;
}

.txt-conso {
    font-size: 18px;
    font-family: cursive;
}

.txt-sur {
    padding: 7px;
    font-family: cursive;
}

.txt-box {
    padding: 20px;
    max-width: 732.6px;
    max-height: 403px;
}

.txt-li-sur {
    padding: 4px;
    font-family: cursive;
}

.consoDura {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 30px;
    padding-right: 55px;
    background-color: #fff4dc;
}

.img-conso {
    border-radius: 15px;
}